<script>
var dataTable;

$(document).ready(function () {
    loadDataTable();

});

function loadDataTable() {
    dataTable = $('#DT_ProjectsLoad').DataTable({
        "language": {
            "url": "@Localizer["//cdn.datatables.net/plug-ins/1.10.18/i18n/English.json"]"
        },
        "ajax": {
            "url": "/Projects/GetProjects",
            "type": "GET",
            "datatype": "json"
        },
        "order": [[1, "desc"]],
        "columns": [
            {
                "data": "id", "render": function (data, type, row) {
                    return `<a href="/Projects/Tickets/${data}" > `+ row.name +`</a>`

                }
            },
            { "data": "description"},
            {
                "data": "id", "render": function (data, type, row) {
                    return `<div class="text-center">
                        <a href="/Projects/Details/${data}" >@Localizer["Edit"]</a>

                        </br>
                        <a href='#' style='cursor:pointer;'
                            onclick=Delete('/Projects/Close?id=${data}')>
                            @Localizer["Close Project"]
                        </a>
                        </div>`;
                }
            }
        ],
        "width": "100%"
    });
}
</script>