<script>
var dataTable;

$(document).ready(function () {
    loadDataTable();
   
});

function loadDataTable() {
    dataTable = $('#DT_ProjectsLoad').DataTable({
        "ajax": {
            "url": "/Projects/GetProjects",
            "type": "GET",
            "datatype": "json"
        },

        "columns": [
            {
                "data": "id", "render": function (data, type, row) {
                    return `<a href="/Projects/Details/${data}" >` + row.name + `</a>`
                }
            },
            { "data": "description"},
            {
                "data": "id","render": function (data) {
                    return `<div class="text-center">
                        <a href='#' style='cursor:pointer;'
                            onclick=Delete('/Projects/Close?id=${data}')>
                            @Localizer["Close Project"]
                        </a>
                        </div>`;
                }
            }
        ],
        "language": {
            "emptyTable": "@Localizer["Nothing yet"]"
        },
        "width": "100%"
    });
}
</script>