<script src="~/js/moment/locale/ru.js" charset="UTF-8"></script>
<script>
    var dataTable;

    $(document).ready(function () {
        if ("@Localizer["Locale"]" !== "Locale") {
            moment.locale('ru');
        } else {
            moment.locale('en');
        }

    loadDataTable();

});

function loadDataTable() {
    dataTable = $('#DT_TicketsLoad').DataTable({
        "language": {
            "url": "@Localizer["//cdn.datatables.net/plug-ins/1.10.18/i18n/English.json"]"
        },
        "ajax": {
            "url": "/Projects/GetTickets/@Model.Id",
            "type": "GET",
            "datatype": "json"
        },
        "columns": [
            {
                "data": "id", "render": function (data, type, row) {
                    return `<a href="/Ticket/Details/${data}">` + row.title + `</a>`
                }
            },
            { "data": "description" },
            {

                "data": "created", "render": function (data) {
                    var date = moment(data).calendar();
                    return date;
                }
            },
            {
                "data": "id",
                "render": function (data) {
                    return `<div class="text-center">
                        <a href="/Ticket/AssignUser/${data}" style='cursor:pointer;'>@Localizer["Assign Users"]</a>
                        <br/>
                        <a href="#" style='cursor:pointer;' onclick=Delete('/Ticket/Resolve?id='+${data})>@Localizer["Resolve"]</a></div>`;
                }
            }
        ],
        "width": "100%"
    });
}
</script>