<script src="~/js/moment/locale/ru.js" charset="UTF-8"></script>
<script>
    var dataTable;
    var dataTableAssigned;

    $(document).ready(function () {
        if ("@Localizer["Locale"]" !== "Locale") {
            moment.locale('ru');
        } else {
            moment.locale('en');
        }

    loadDataTable();

});

function loadDataTable() {
    dataTable = $('#DT_ResolvedTicketsLoad').DataTable({
        "ajax": {
            "url": "/Ticket/GetAllResolved",
            "type": "GET",
            "datatype": "json"
        },
        "order": [[2, "desc"]],
        "columns": [
            {
                "data": "id", "render": function (data, type, row) {
                    return `<a href="/Ticket/Details/${data}">` + row.title + `</a>`
                }
            },
            { "data": "description", "visible": false },


            {
                "data": "created", "render": function (data, type, full, meta) {
                 if (type == 'display')
                    return moment(data).calendar();
                else
                    return data;
                }
            },
            {
                "data": "lastResolveDate", "render": function (data, type, full, meta) {
                    if (type == 'display')
                        return moment(data).calendar();
                    else
                        return data;
                }
            },
            {
                "data": "id",
                "render": function (data) {
                    return `<div class="text-center">
                        <a href="#" style='cursor:pointer;' onclick=Delete('/Ticket/Delete/'+${data})>@Localizer["Delete Forever"]</a></div>`;
                }
            }
        ],
                    "createdRow": function ( row, data, index ) {
        $("td", row).attr("title", data.description);
    },
        "language": {
            "emptyTable": "@Localizer["Nothing yet"]",
                "loadingRecords" : "Please wait warmly"
        },
        "width": "100%"
    });

    dataTableAssigned = $('#DT_ResolvedAssignedTicketsLoad').DataTable({
        "ajax": {
            "url": "/Ticket/GetAllResolvedAssigned",
            "type": "GET",
            "datatype": "json"
        },
        "order": [[2, "desc"]],
        "columns": [
            {
                "data": "id", "render": function (data, type, row) {
                    return `<a href="/Ticket/Details/${data}">` + row.title + `</a>`
                }
            },
            { "data": "description", "visible": false },


            {
                "data": "created", "render": function (data, type, full, meta) {
                    if (type == 'display')
                        return moment(data).calendar();
                    else
                        return data;
                }
            },
            {
                "data": "lastResolveDate", "render": function (data, type, full, meta) {
                    if (type == 'display')
                        return moment(data).calendar();
                    else
                        return data;
                }
            },
            {
                "data": "created", "render": function (data, type, full, meta) {
                    if(type == 'display')
                        return moment(data).calendar();
                    else
                        return data;
                }
            },
        ],
                    "createdRow": function ( row, data, index ) {
        $("td", row).attr("title", data.description);
    },
        "language": {
            "emptyTable": "@Localizer["Nothing yet"]",
                "loadingRecords" : "Please wait warmly"
        },
        "width": "100%"
    });


}
</script>