<script>
    var dataTable;

    $(document).ready(function () {
        loadDataTable();
    });

    function loadDataTable() {
        dataTable = $('#DT_RolesLoad').DataTable({
            searching: false,
            paging: false,
            info: false,
            ordering: false,
            "ajax": {
                "url": "/Administration/GetRolesList",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "name", "width": "50%" },
                {
                    "data": "id",
                    "render": function (data) {
                        return `<div class="text-center">
    <a href="/Administration/EditUsersInRole/${data}" class='btn btn-success text-white' style='cursor:pointer;'>
        Add or remove users
    </a>
</div>`;
                    }, "width": "40%"
                }
            ],
            "language": {
                "emptyTable": "@Localizer["Nothing yet"]",
                "loadingRecords" : "Please wait warmly"
            },
            "width": "100%"
        });
    }
</script>