<script>
var dataTable;

$(document).ready(function () {
    loadDataTable();
});

function loadDataTable() {
    dataTable = $('#DT_UsersLoad').DataTable({
        "ajax": {
            "url": "/Administration/GetUserList",
            "type": "GET",
            "datatype": "json"
        },
        "columns": [
            { "data": "userName"},

            { "data": "email"},
            {
                "data": "id",
                "render": function (data) {
                    return `<div class="text-center">
                        <a class='btn btn-danger text-white' style='cursor:pointer;'
                            onclick=Delete('/Administration/DeleteUser?id=${data}')>
                            @Localizer["Delete"]
                        </a>
                        </div>`;
                }
            }
        ],
        "language": {
            "emptyTable": "@Localizer["Nothing yet"]",
                "loadingRecords" : "Please wait warmly"
        },
        "width": "100%"
    });
}
</script>