@model BugTracker.ApplicationUser
    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-body">
                    <form method="post" asp-action="Index">
                        <input type="hidden" asp-for="Id" />
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">@Localizer["User Name"]</label>
                            <div class="col-md-9">

                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label text-nowrap" asp-for="Email"></label>
                            <div class="col-md-9">

                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-9 ml-auto">
                                <button type="submit" class="btn btn-success">@Localizer["Save changes"]</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="h6 text-uppercase mb-0">@Localizer["Preffered Language"]</h3>
                </div>
                <div class="card-body">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </div>
    </div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
