<a asp-action="users" class="btn btn-primary">@Localizer["Manage users"]</a>
<div class="col-12 border p-3">
    <table id="DT_RolesLoad" class="table table-striped table-bordered" style="width:100%">
    </table>
</div>
@section Scripts{
    <script src="~/js/RoleList.js"></script>
    <partial name="_RoleListPartial" />
}