<h2>+ CLOSED TICKETS</h2>
<div class="col-6">
    <h2 class="text-info">Ticket List</h2>
</div>
<div class="col-3 offset-3">
    <a asp-action="Create" class="btn btn-info form-control text-white">
        @Localizer["New Ticket"]
    </a>
</div>
<div class="col-12 border p-3">
    <table id="DT_TicketsLoad" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>@Localizer["Title"]</th>
                <th>@Localizer["Description"]</th>
                <th>@Localizer["Created"]</th>
                <th></th>

            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/TicketList.js"></script>
    <partial name="_DeleteAlertPartial" />
    <partial name="_TicketListPartial" />
}