


    <div class="row">
        <div class="col">
            <div class="connect-grid">
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="connect-square"></div>
                <div class="taken"></div>
                <div class="taken"></div>
                <div class="taken"></div>
                <div class="taken"></div>
                <div class="taken"></div>
                <div class="taken"></div>
                <div class="taken"></div>
            </div>
        </div>
        <div class="col">
            <h3><span id="current-player">Reimu's Turn!</span></h3>
        </div>
        @section Scripts{
            <script src="/js/connect.js"></script>
        }

