
<div class="card">
    <div class="card-header">
        <h1>Secret Zone!</h1>
    </div>
    <div class="card-body">
        <a style="position:absolute; top:10px; right:10px" asp-action="Chamber">
            <img href="" src="~/img/hakurei_shrine.png" width="100" />
        </a>
        <ul>
            <li><a style="font-size:large" asp-action="Memory">Memory Game!</a></li>
            <li><a style="font-size:large" asp-action="Frog">Freeze-a-Frog!</a></li>
            <li><a style="font-size:large" asp-action="Connect">Connect Four! (PvP)</a></li>
            <li><a style="font-size:large" asp-action="Gourd">Suika's Conga!</a></li>
            <li><a style="font-size:large" asp-action="Fairy">Reimu's Shoot-em-Up!</a></li>
        </ul>
    </div>
</div>
