
<div class="card">
    <div class="card-header">
        <h1>Secret Zone!</h1>
    </div>
    <div class="card-body">
        <ul>
            <li><a style="font-size:large" asp-action="Memory">Memory Game!</a></li>
            <li><a style="font-size:large" asp-action="Frog">Freeze-a-Frog!</a></li>
            <li><a style="font-size:large" asp-action="Connect">Connect Four! (PvP)</a></li>
            <li><a style="font-size:large" asp-action="Gourd">Suika's Conga!</a></li>


        </ul>
    </div>
</div>
