<div class="row">
    <div class="col-6">
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="h6 text-uppercase mb-0">@Localizer["Tickets By Priority"]</h2>
            </div>
            <div class="card-body">
                <div class="chart-holder">
                    <canvas id="ChartPriority"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="h6 text-uppercase mb-0">@Localizer["Concerning Tickets"]</h2>
            </div>
            <div class="card-body">
                <div class="chart-holder">
                    <canvas id="ChartStatus"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_GraphsPartial" />
}

