    <h1>404: @Localizer["Resource Not Found"]</h1>
<a class="btn btn-outline-success start-button">Start!</a>
<h5 id="time" display="hidden"></h5>
        <div class="grid">
            <div class="dino"></div>
            <div class="dino-shadow"></div>
        </div>
    <script src="~/js/games/dino.js" charset="utf-8"></script>
