@model IEnumerable<BugTracker.Models.Project>

<p>
    <a class="btn btn-primary" asp-action="Index">@Localizer["Go Back"]</a>
</p>
<div class="col-12 border p-3">
    <table id="DT_ClosedProjectsLoad" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Description"]</th>
                <th></th>

            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <partial name="_DeleteAlertPartial" />
    <partial name="_ClosedProjectListPartial" />
}